html {
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;
}
html * {
    font-family: Meiryo, "Malgun Gothic", AppleSDGothicNeo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background: url(/static/img/bg-body.png) repeat-y top center;
	min-height: 100%;
	padding-bottom: 20px;
}

.sidebar {
	margin-top: 20px;
}

.outer-wrap {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px;
}

.inner-wrap {
    float: left;
    left: -50%;
    position: relative;
}

.clear {
	clear: both;
}
